@using Microsoft.AspNetCore.Components.QuickGrid
﻿@using Microsoft.AspNetCore.Components.QuickGrid.Infrastructure
@using Microsoft.AspNetCore.Components.Rendering
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Web.Virtualization


@namespace Daemon.RazorUI.DataGrid


    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">

            </div>
        </div>
    </div>


@code {
    [Parameter, EditorRequired]
    public RenderFragment? ChildContent { get; set; }
}