table.quickgrid[theme=default] {
    @apply 
        min-w-full divide-y 
        divide-gray-300 
        shadow ring-1 ring-black ring-opacity-5 
        sm:rounded-lg 
        overflow-hidden;
}

table.quickgrid[theme=default] thead {
    @apply bg-gray-50;
}


table.quickgrid[theme=default] thead th:first-child {
    @apply py-3.5 pl-4 pr-3 sm:pl-6;
}
table.quickgrid[theme=default] thead th:not(:first-child):not(:last-child) {
    @apply px-3 py-3.5;
}
table.quickgrid[theme=default] thead th:not(:last-child) {
    @apply text-left text-sm font-semibold text-gray-900;
}
table.quickgrid[theme=default] thead th:last-child {
    @apply relative py-3.5 pl-3 pr-4 sm:pr-6; 
}


table.quickgrid[theme=default] thead button.col-title {
    @apply pl-0 hover:bg-inherit;
}


table.quickgrid[theme=default] tbody {
    @apply divide-y divide-gray-200 bg-white;
}

table.quickgrid[theme=default] tbody tr {
    @apply hover:bg-sky-50 cursor-pointer duration-500;
}

table.quickgrid[theme=default] tbody td {
    @apply whitespace-nowrap text-sm !py-4;
}
table.quickgrid[theme=default] tbody td:first-child {
    @apply pl-4 pr-3 font-medium text-gray-900 sm:pl-6;
}
table.quickgrid[theme=default] tbody td:not(:first-child):not(:last-child) {
    @apply text-gray-500 px-3;
}
table.quickgrid[theme=default] tbody td:last-child {
    @apply relative pl-3 pr-4 text-right sm:pr-6;
}




::deep th.country-name { width: 14rem; }

/* Subtle stripe effect */
::deep tr:nth-child(even) {
    background: rgba(255,255,255,0.4);
}

/* Don't collapse rows even if they are empty */
::deep tbody tr { height: 1.8rem; }

/* Style the custom page links*/
.page-buttons { margin: 1rem 0; align-items: center; }
.page-buttons button {
    background: #d6d7d8; color: black; padding: 0.25rem 0.75rem; border-radius: 0.4rem;
    transition: transform 0.3s ease-out; margin: 0.25rem;
}
.page-buttons button:active { background: #a7c1ff !important; color: white; transform: scale(0.95) translateY(-0.15rem); transition-duration: 0.05s; }
.page-buttons button:hover:not(.current) { background: #c0c9dc; }
.page-buttons button.current { background: #3771f4; color: white; }