@using Microsoft.AspNetCore.Components.Routing
@using Daemon.RazorUI.Icons

@namespace Daemon.RazorUI.Navigation

@inject NavigationManager NavigationManager


<NavLink 
    href=@Props?.Path
    class="
        group flex items-center
        px-2 py-2
        font-semibold
        rounded-md
        cursor-pointer select-none
        text-stone-300 hover:text-stone-400
        hover:bg-stone-700 hover:bg-opacity-75
        no-underline hover:no-underline
    "
    ActiveClass="bg-stone-900"
>
    @if (ChildContent != null) { 
        <div class="
            mr-4 h-6 w-6 
            flex-shrink-0 
            text-stone-200 hover:text-stone-400
        ">
            @ChildContent    
        </div>
    }
    @Props?.Label
</NavLink>

@code {

    [Parameter]
    public NavOptionProps? Props { get; set; }
    
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
